<h1>My Lunch</h1>

<h2><%= link_to 'My Meals', meals_path %></h2>
<h2><%= link_to 'Login', groups_path %></h2>
<h2><%= link_to 'change Data', new_meal_path %></h2>
<h2><%= link_to 'My Tags', dashboard_index_url %></h2>