
<h1>Homepage</h1>
<p class="lead">Luncheon is a very old-fashioned word for lunch. Some say it is the most important meal of the day so it is important to plan. This
Site is designed to help you organise a time to eat, a place and a group (of friends). Enjoy!</p>

<!-- header -->
<br>
<br>
<!-- header end -->
<p>This is the mainpage displaying todays options:</p>
<!-- body -->
<table class="table table-hover table-bordered">
  <thead class="thead-dark">
  <colgroup>
    <col style="width: 33%">
    <col style="width: 33%">
    <col style="width: auto">
  </colgroup>
  <tr>
    <th>Title</th>
    <th>Group</th>
    <th>Tags</th>
  </tr>
  </thead>
  <tbody>
  <% @meals.each do | meal |  %>
    <tr>
      <td><%= link_to meal.title, meal %></td>
      <td><%= link_to meal.group.name, meal.group %></td>

      <td><div class="list-group"><% meal.tags.each do |tag|%>
      <%= link_to tag.name, tag, class: "list-group-item list-group-item-action" %>
          <% end %>
          </div>
          </td>
    </tr>
  <% end %>
  </tbody>
</table>
